    <link rel="stylesheet" href="../css/style.css">
        <div class="centera">
            <button class="title">Leave Management</button>
        </div>
    <div class="centera">
        <div class="card">
            <img src="/imges/backdrop.jpg" class="work">
            <div class="form">
                <h1 class="titlex">Sign In</h1>
                <img src="../imges/pngegg.png" class="imgb">
                <button type="button" class="login-with-google-btn" onclick="window.location.href='/auth/google';">
                    Sign in with Google
                </button>
                    <button class="btn" onclick="window.location.href='/auth/microsoft';">
                        <object type="image/svg+xml" data="https://s3-eu-west-1.amazonaws.com/cdn-testing.web.bas.ac.uk/scratch/bas-style-kit/ms-pictogram/ms-pictogram.svg" class="x-icon"></object> 
                        Sign in with Microsoft
                    </button>
                <div class="descbox">
                    <p class="desc">Leave Management System is a in house software developed by<b> Kanik Kapoor.</b> It is connected with the user's google/microsoft account. This software can help organizations to automate and streamline the process of managing employee leaves.</p>
                </div>
            </div>
        </div>
    </div>